<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
    <style>
      .container {
        padding: 3em;
      }
      .searchbar {
        position: absolute;
        top: 40%;
        width: 70%;
        text-align: center;
      }
      .heading {
        margin-bottom: 1em;
      }
      #button-addon3 {
        margin-top: 3em;
        color: white;
      }
      a:link,
      a:visited, a:hover, a {
        color: white;
        text-decoration: none;
      }
    </style>
    <title>CDS Converter</title>
  </head>
  <body>
    <div class="container">
      <form action="/convert" method="GET" class="searchbar">
        <h2 class="heading">Common Data Set PDF to Excel Converter</h2>
        <div class="input-group mb-3">
          <input
            type="text"
            class="form-control"
            placeholder="Enter Common Data Set PDF URL"
            aria-label="Common Data Set URL"
            name="url"
            aria-describedby="button-addon2"
          />
          <div class="input-group-append">
            <button class="btn btn-primary" type="submit" id="button-addon2">
              Convert
            </button>
          </div>
        </div>
        <button class="btn btn-secondary" id="button-addon3" hidden>
          <a href="/" id="another">Convert Another File</a>
        </button>
      </form>
    </div>
    <script>
      $("form").submit(function () {
        $("#button-addon2").prop("disabled", true);
        $("#button-addon2").html("Processing...");
        $("#button-addon3").prop("hidden", false);
        $(".heading").html("Please wait. You will soon get a download link.");
      });
    </script>
  </body>
</html>
